<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
    <section class='bio'>
      <h1 class='title'>Thomas Wilson</h1>
      <p class='bio__text'>I'm a software engineer building software and teams with mission-driven companies.</p>
      <ul class='bio__list'>
        <li class='bio__list-item'>I am currently leading the engineering team at Oxwash.  We're building the future of laundry.</li>
        <li class='bio__list-item'>I write on my <a href='/blog'>blog</a></li>
        <li class='bio__list-item'>I love in Oxford, England.</li>
        <li class='bio__list-item'>I'm good at cooking, passionate about cycling, and learning to make my own clothes.</li>
      </ul>
yste   </section>
  </body>
</html>
