{{ define "main" }}

<h1 class="page-title">{{ .Title }}</h1>
{{ $listCss := resources.Get "css/list.css" | fingerprint }}
<link href="{{$listCss.RelPermalink}}" rel="stylesheet">

{{ .Content  }}

<ul class="posts__list">
  {{ $postsByYear := (.Data.Pages).GroupByDate "2006" }}
	{{- range $postsByYear  -}}
    <h2> {{ .Key }}</h2>
    {{ range .Pages }}
		<li class="posts__list-item">
			<a href="{{ .RelPermalink }}" class="posts__list-link">{{.Title}}</a> <span class="meta">({{ dateFormat "Jan 2, 2006" .Date }}){{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
    {{ end }}
	{{- end -}}
</ul>
{{ end }}
