.bio__strap {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.bio__star {
  color: var(--colourBrand);
}

.bio__caveat-star {
  color: var(--colourBrand);
  padding-right: 5px;
}

.bio__strap-caveat {
  margin-top: 4px;
  font-size: 0.75rem;
}
